/* أساسي */
body {
    -webkit-tap-highlight-color: transparent;
    color: #3a3a44 !important;
    font-family: 'Cairo', sans-serif;
}
body::after {
    /* position: fixed; */
    user-select: none;
    z-index: 1;
    content: 'جميع الحقوق محفوظة لدى نور القرآن';
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    font-size: 14px;
    opacity: .6;
}

.body::after {
    position: fixed;
}
img {
    user-select: none;
    -webkit-user-drag: none;
    display: block;
}
button,a,input,select,.cooo {
    outline-color: rgb(21, 137, 245);
}

.cards:focus-visible {
    outline: none;
}
.cards:focus-visible .vid-card {
    border-color: #177ccb;
    box-shadow: 0 10px 32px #177ccb47;
}
button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex {
    display: flex;
    align-items: center;
}

.x-btn {
    position: relative;
    z-index: 10;
}
.x-btn::before {
    transition: ease 0.2s;
    position: absolute;
    z-index: -1;
    content: '';
    width: 70%;
    height: 70%;
    background-color: #0000;
    border-radius: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.x-btn:hover::before {
    width: 100%;
    height: 100%;
    background-color: #3e464c18;
}
.x-btn:active::before {
    width: 96%;
    height: 96%;
    background-color: #3e464c18;
}

hert {
    position: absolute;
    right: 0;
    top: 0;
    margin: 4px;
    color: rgb(255 255 255 / 83%);
    line-height: 1;
    /* background: #00000069; */
    width: 30px;
    height: 30px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}
hert ion-icon {
    filter: drop-shadow(0px 0px 2px black);
}

.flexe {
    display: flex;
    align-items: center;
}



@media (hover: none) and (pointer: coarse) {
    body {
        user-select: none;
    }
    .badge {
        user-select: text !important;
    }
}




/* الوضع الداكن فقط */
body.dark-mode {
    background: #111;
}
body.dark-mode a, body.dark-mode div, body.dark-mode span, body.dark-mode svg {
    color: rgba(255, 255, 255, 0.856) !important;
    fill: rgba(255, 255, 255, 0.856) !important;
    /* stroke: rgba(255, 255, 255, 0.856) !important; */
}
body.dark-mode .menu div:hover {
    background: #a8b0b811;
}
body.dark-mode .menu.active {
    box-shadow: rgb(17 19 20) 0px 4px 14px;
}
body.dark-mode .menu {
    background: #2c2c2e;
}
body.dark-mode .searsh input {
    background: #0000;
    color: rgba(255, 255, 255, 0.856);
}
body.dark-mode .searsh .flex {
    background-color: #0000;
}
body.dark-mode .searsh {
    background-color: #2c2c2e;
}
body.dark-mode .results {
    background: #2c2c2e;
    box-shadow: 0 2px 8px -2px #0f0f11;
}
body.dark-mode .de-btn, body.dark-mode .Toggle {
    color: rgba(255, 255, 255, 0.856) !important;
    fill: rgba(255, 255, 255, 0.856) !important;
    stroke: rgba(255, 255, 255, 0.856) !important;
}
body.dark-mode .x-btn:hover::before {
    background-color: #c4c4c418;
}
body.dark-mode .x-btn:active::before {
    background-color: #c4c4c418 !important;
}
body.dark-mode .coopp:active {
    background-color: #c4c4c418;
}
body.dark-mode .headerww {
    background: #111 !important;
    border-bottom: 1px solid #b8b8ba57 !important;
}
body.dark-mode .voope {
    background: #ffffff14 !important;
    border: 1.5px solid #b8b8ba57 !important;
}
body.dark-mode .section-search-wrap input:focus {
    border-color: #177ccb !important;
    box-shadow: 0 0 0 3px #177ccb29 !important;
}
body.dark-mode input::placeholder  {
    color: rgba(255, 255, 255, 0.445) !important;
}
body.dark-mode .section-count {
    color: rgb(255 255 255 / 67%);
}
body.dark-mode #scrollTopBtn {
    background: #1b1e27;
    color: rgb(255 255 255);
    border: solid 1px #65bcff33;
}
body.dark-mode .vid-card::before {
    box-shadow: 0px -31px 30px #111 inset;
}
body.dark-mode .vid-card {
    border: 1px solid #5858586c;
}
body.dark-mode .back-btn, body.dark-mode .nav-btn {
    border-color: #717171 !important;
}
body.dark-mode .back-btn:hover, body.dark-mode .nav-btn:hover {
    border-color: #717171 !important;
    background: #ffffff17 !important;
}
body.dark-mode .ocoe {
    background: #0085c736 !important;
    border-color: #0000 !important;
}
body.dark-mode .ocoe:hover {
    background: #0085c736 !important;
    border-color: #0000 !important;
}
body.dark-mode::after {
    color: #ffffff9e !important;
}
body.dark-mode .badge, body.dark-mode .cate {
    border-color: #717171;
}
body.dark-mode .badge.cat, body.dark-mode .cate.active {
    border-color: #177ccb33;
}
body.dark-mode .logo span {
    color: #177ccb !important;
}
body.dark-mode .vid-card img {
    box-shadow: 0px 1px 0px #5858586c;
}
body.dark-mode .vid-card:hover {
    border-color: #177ccb;
    box-shadow: 0 10px 32px #177ccb47;
}
body.dark-mode .player3 {
    color: #dddddd !important;
}
body.dark-mode .player-mp3 {
    background: #212326 !important;
    box-shadow: 0px 1px 3px #070707 !important;
}
body.dark-mode .playe2 {
    background: #fefefe21;
}
body.dark-mode .cate.active svg {
    fill: rgba(255, 255, 255, 0.856) !important;
}
body.dark-mode .sidebar-title::after {
    background: #717171;
}
body.dark-mode .sugg-cat {
    color: #22688c !important;
}
body.dark-mode .vid-card:hover {
    border-color: #177ccb;
    box-shadow: 0 10px 32px #177ccb47;
}
body.dark-mode .menu :nth-child(2)::before {
    background: #c3c3c31a;
} 

/* body.dark-mode  {
    
} */
